@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Chewy';
    src: url(../../font/Chewy/Chewy-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background-color: #fafafd;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #fafafd 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sanss-serif;
}

.start-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Chewy';
    font-size: 42px;
    margin: 30px;
    text-align: center;
    color: rgba(0, 0, 0, .85);
}

h2 {
    font-size: 22px;
}

button {
    cursor: pointer;
}

p, button {
    font-size: 16px;
}

.wrapper {
    max-width: 1150px;
    width: 1110px;
    display: flex;
    justify-content: space-around;
}

.categories-container, .num-of-questions-container, .rules-container {
    background-color: #fff;
    border-radius: 25px;
    padding: 25px 45px;
    max-width: 515px;
}

.categories-container {
    display: flex;
    min-height: 520px;
    flex-direction: column;
    align-items: center;
    border: 3px solid #1C7C54;
    box-shadow: 4px 4px 0px 0px #1C7C54;
}

.all-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.category:nth-child(3n+1) {
    -webkit-box-shadow: inset 0px -9px 0px -5px #F7F052, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px -9px 0px -5px #F7F052, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -9px 0px -5px #F7F052, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
}

.category:nth-child(2), .category:nth-child(9) {
    -webkit-box-shadow: inset 0px -9px 0px -5px #EE6C4D, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px -9px 0px -5px #EE6C4D, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -9px 0px -5px #EE6C4D, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
}

.category:nth-child(3), .category:nth-child(8) {
    -webkit-box-shadow: inset 0px -9px 0px -5px #38726C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px -9px 0px -5px #38726C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -9px 0px -5px #38726C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
} 

.category:nth-child(1), .category:nth-child(6) {
    -webkit-box-shadow: inset 0px -9px 0px -5px #F28123, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px -9px 0px -5px #F28123, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -9px 0px -5px #F28123, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
} 

.category:nth-child(5) {
    -webkit-box-shadow: inset 0px -9px 0px -5px #92140C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0px -9px 0px -5px #92140C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0px -9px 0px -5px #92140C, 4px 3px 8px 0px rgba(0, 0, 0, 0.08);
} 

.categories-container h2 {
    text-align: center;
}

.category {
    background-color: #fff;
    width: 190px;
    padding: 20px 35px;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: 0.10s ease;
}

.category:hover {
    transform: scale(1.04);
}

.right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.num-of-questions-container {
    box-shadow: 4px 4px 0px 0px #F28123;
    border: 3px solid #F28123;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-of-questions-container .numbers {
    margin-top: 25px;
}

.num-of-questions-container .number {
    background-color: #fff;
    width: 45px;
    height: 45px;
    padding: 12px;
    border: 2px solid  #1C7C54;
    border-radius: 50%;
    margin: 0 12px;
    transition: 0.12s ease;
}

.num-of-questions-container .number:hover, .num-of-questions-container .number:target {
    color: #fff;
    background-color: #1C7C54;
}

.number.active{
    background-color: #1C7C54;
    color: #fff;
}

.rules-container {
    box-shadow: 4px 4px 0px 0px #92140C;
    border: 3px solid #92140C;
}

.rules-container h2 {
    text-align: center;
    margin-bottom: 25px;
}

.play-bttn {
    margin: 45px;
    max-width: 280px;
    min-width: 250px;
}

.play-bttn button {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 6px 0;
    font-family: 'Chewy';
    font-size: 32px;
    color: #fff;
    border: none;
    background-color: #F28123;
}

.play-bttn button:disabled {
    opacity: 0.7;
}

.play-bttn button:not(:disabled):active {
    box-shadow: 4px 4px 0px 0px #92140C;
}

.active {
   background-color: rgba(0, 0, 0, 0.08)
}

@media only screen and (max-width:1100px) {
    div#root {
        max-width: 100%;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        width: 95%;
    }

    .right-wrapper {
        align-items: center;
    }

    .categories-container, .num-of-questions-container, .rules-container {
        width: 95%;
        margin-bottom: 30px;
    }

    .categories-container {
        max-width: 600px;
    }

    .rules-container {
        margin-bottom: 0;
    }

    .all-categories {
        justify-content: center;
    }

    .category {
        margin-right: 10px;
    }

    .num-of-questions-container .number {
        margin: 5px 8px;
    }

    .num-of-questions-container h2 {
        text-align: center;
    }
}